<h1>Links To Croquet Sites</h1>
<br>
<br>
<h2>The Croquet Association</h2>
<li><a href="http://www.croquet.org.uk">Home Page</a></li>
<li><a href="http://www.croquet.org.uk/tournament">Events Page</a></li>
<br><br>
<h2>SECF</h2>
<li><a href="http://www.southeastcroquet.org.uk">Click Here!</a></li>
<br><br>
<h2>Croquet Academy</h2>
<li><a href="http://www.thecroquetacademy.com">Click Here!</a></li>
<br><br>
<h2>Croquet Equipment</h2>
<li><a href="http://www.oxfordcroquet.com/equip/">Mallets Etc.</a></li>
<li><a href="http://www.bowlsdirect.com/contact.htm">Whites</a></li>
<br><br>
<h2>Croquet Glossary</h2>
<li><a href="http://cornwall-croquet.org.uk/croquet_glossary.htm">Click Here!</a></li>
<br><br>
<h2>Croquet Rules</h2>
<li><a href="http://www.croquet.org.uk/association/laws.html">Association Rules</a></li>
<li><a href="http://www.croquet.org.uk/golf/laws/contents.htm">Golf Rules</a></li>